.container {
  position: absolute;
  width: 850px;
  height: 750px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem;
  border-radius: 2rem;
  z-index: 3;
  gap: 15px;
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .preview {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    .dropDown {
      box-sizing: content-box;
      flex: 1;
      height: 200px;
      border-style: dashed;
      border-width: 10px;
      border-collapse: collapse;
      border-radius: 0.5rem;
      align-items: center;
      justify-content: center;
      span {
        display: flex;
        border: 1px solid red;
        background-color: #fff;
        width: 105%;
        height: 105%;
      }
    }
    img {
      flex: 1;
      height: 200px;
    }
  }
}
