.video {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:first-child {
    margin-top: 10px;
  }
  .video__player {
    scroll-snap-align: start;
    object-fit: fill;
    height: 100%;
    border-radius: 10px;
  }
  .videoDurSlice {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    .duration {
      position: absolute;
      color: #fff;
      bottom: 25px;
      padding: 0 10px;
    }
    .end {
      right: 0;
    }
    input {
      width: 100%;
    }
  }
}
