.navbar {
  width: 100%;
  height: 9vh;
  background: white;
  box-shadow: 1px 1px 5px rgba(90, 90, 90, 0.361);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 4;
  .navWrapp{
    width: 1080px;
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  span {
    img {
      width: 80px;
    }
  }
  .searchDiv {
    width: 55%;
    display: flex;
    position: relative;
    input {
      width: 100%;
      padding: 0.5rem 0.7rem;
      outline: none;
      font-size: 18px;
      border-radius: 0.3rem;
      border: 1px solid gray;
    }
    i {
      position: absolute;
      right: 10px;
      font-size: 20px;
      top: 9px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    position: relative;
    gap: 25px;    
    .notificDiv {
      font-size: 2rem;
      align-items: center;
      .count {
        background-color: red;
        width: 10px;
        height: 10px;
        color: white;
        font-size: 0.8rem;
        position: absolute;
        margin-left: 20px;
        padding: 9px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .avatar {
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
    ul {
      list-style: none;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 10px;
      padding: 10px 15px;
      -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.22);
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.22);
      border-radius: 0.5rem;
      gap: 10px;
      width: 220px;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 15px;
        &:last-child {
          color: red;
          border-top: 1px solid gray;
        }
      }
    }
  }}
}
