.vidContain{
    width: 25vw;
    height: 90vh;
    background: white;
    border-radius: 1rem;
    scroll-snap-type: y mandatory;
    ::-webkit-scrollbar{
        display: none;
    }
    .vidWrapper{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: scroll;
        scroll-snap-type: y mandatory;
        ::-webkit-scrollbar{
            display: none;
        }
        .videoDiv{
            height: 90vh;
            scroll-snap-align: start;
            .video{
                height: 100%;
                width: 100%;
                border-radius: 1rem;
                object-fit: fill;
            }
        }
    }

}

